{
  "id": {{ panel.id }},
  "type": "table",
  "title": {{ panel.title | tojson }},
  "gridPos": {
    "x": {{ panel.gridPos.x }},
    "y": {{ panel.gridPos.y }},
    "w": {{ panel.gridPos.w }},
    "h": {{ panel.gridPos.h }}
  },
  "datasource": {
    "type": "simpod-json-datasource",
    "uid": "${DS_OBSERVABILITY_API}"
  },
  "targets": [
    {
      "refId": "A",
      "datasource": {
        "type": "simpod-json-datasource",
        "uid": "${DS_OBSERVABILITY_API}"
      },
      "payload": {
        "metric": {{ panel.metric | tojson }},
        "params": {{ panel.params | tojson }}
      }
    }
  ],
  "fieldConfig": {
    "defaults": {}
  },
  "options": {
    "showHeader": true,
    "cellHeight": "sm",
    "sortBy": []
  }
}
